src/
test/
node_modules/
coverage/

.changeset/
.github/
.vscode/

.DS_STORE

eslint.config.js
vitest.config.js
commitlint.config.ts
tsconfig.json

.prettierignore
.prettierrc
.eslintrc
.eslintignore

yarn.lock
package-lock.json
pnpm-lock.yaml
bun.lockb
test-contract/
